
<h1>Bootstrap starter template</h1>
<p class="lead">Remove from product list</p>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Product Name</th>
    <th scope="col">Owner</th>
    <th scope="col">Enter Date</th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products; index as i" style="cursor: pointer" (click)="removeProduct(product.id)" >
    <th scope="row">{{ i + 1 }}</th>
    <input type="hidden" value="{{product.id}}" >
    <td>{{ product.name }} </td>
    <td>{{ product.ownerName }}</td>
    <td>{{ product.entrDate }}</td>
    <td>{{ product.description }}</td>
  </tr>
  </tbody>
</table>
